.navbar {
    display:block;
    width:100%;
    min-height: 50px;
    overflow:auto;
    border:1px solid black;
}
.leftside {
    display:inline-block;
    float:left;
}
.rightside {
    display:inline-block;
    float:right;
}